<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Priyank\Testimonials\Api\TestimonialsRepositoryInterface" type="Priyank\Testimonials\Model\TestimonialsRepository"/>
	<preference for="Priyank\Testimonials\Api\Data\TestimonialsInterface" type="Priyank\Testimonials\Model\Testimonials"/>
	<preference for="Priyank\Testimonials\Api\Data\TestimonialsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Priyank\Testimonials\Model\ResourceModel\Testimonials\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">priyank_testimonials_testimonials</argument>
			<argument name="resourceModel" xsi:type="string">Priyank\Testimonials\Model\ResourceModel\Testimonials\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="priyank_testimonials_testimonials_listing_data_source" xsi:type="string">Priyank\Testimonials\Model\ResourceModel\Testimonials\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\Console\CommandList">
	    <arguments>
	        <argument name="commands" xsi:type="array">
	            <item name="import_testimonials" xsi:type="object">Priyank\Testimonials\Console\Command\ImportTestimonials</item>
	        </argument>
	    </arguments>
	</type>
</config>
